.frame{margin-left: 3%; margin-right: 3%;}

.icons{ background: url('../images/icons.png') no-repeat; display: inline-block; background-size: 4rem;}
.icons-search{ width: 0.44rem; height: 0.44rem; background-position: -1rem 0;}
.icons-bag{ width: 0.44rem; height: 0.44rem; background-position: 0 0;}
.icons-menu{ width: 0.44rem; height: 0.44rem; background-position: -0.5rem 0;}
.icons-prev-circle{ width: 0.84rem; height: 0.84rem; background-position: -1.5rem 0;}
.icons-next-circle{ width: 0.84rem; height: 0.84rem; background-position: -2.4rem 0;}
.icons-prev-half{ width: 0.42rem; height: 0.84rem; background-position: -0.5rem -0.5rem;}
.icons-next-half{ width: 0.42rem; height: 0.84rem; background-position: -0.5rem -0.5rem;}
.icons-heart{ width: 0.74rem; height: 0.74rem; background-position: 0 -1.4rem;}
.icons-heart{ width: 0.74rem; height: 0.74rem; background-position: 0 -1.4rem;}
.icons-shopcart{ width: 0.74rem; height: 0.74rem; background-position: -0.8rem -1.4rem;}

.top-hint{ margin: 3%;}
.top-hint div,.top-hint a{ font-size: 0.18rem; color: #bdbebf;}

.top-tools{ width: 100%; background-color: #f6f6f6; padding: 0.2rem 3%; overflow: hidden;}
.top-tools a{ float: right; margin-left: 0.3rem; position: relative;}
.top-tools a span{ width: 0.3rem; height: 0.3rem; background-color: #ff91b8; color: #fff; border-radius: 50%; position: absolute; top: -0.12rem; right: -0.12rem; font-size: 0.1rem; text-align: center; padding-top: 0.02rem;}

#slider{overflow: hidden;visibility: hidden;position: relative; margin: 0.3rem 3%;}
.swipe-wrap2 {overflow: hidden;position: relative;}
.swipe-wrap2 > div {float:left;width:100%;position: relative;}
.swipe-wrap2 img{ height:100%;}

.btn-prev{ position: absolute; top:50%; left: 0; margin-top: -0.42rem;}
.btn-next{ position: absolute; top:50%; right: 0; margin-top: -0.42rem;}

.tag-list{ margin: 5% 0;}
.tag-list li{ float: left; margin-right: 0.2rem; padding: 0.1rem 0.2rem; font-size: 12px; background-color: #f5f6f6; border-radius: 3px; margin-bottom: 0.2rem;}
.tag-list li a{ color: #000;}
.tag-list li.active{background-color: #7179c6;}
.tag-list li.active a{ color: #fff;}