@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; font-family:"Microsoft YaHei", "微软雅黑",arial, helvetica, sans-serif; -webkit-box-sizing: border-box;box-sizing: border-box;}
html{ font-size:62.5%; height: 100%;}
body{ font-size:1.4rem; height: 100%;}
a{ text-decoration:none; border:none;}
li{ list-style:none;}
input{ -webkit-appearance:none; border-radius:0;}
select{ -webkit-appearance:select; border-radius:0;}

canvas{display: block;}

.window{ width: 100%; height: 100%; position: fixed; top:0; left: 0; z-index: 100; background-color: rgba(0,0,0,0.5); overflow: hidden; display: none;}
.frame{ width: 98%; margin: 50px auto; border-radius: 20px; background-color: #67d8f2; overflow: hidden; transition: all 0.3s ease-out;-webkit-transition: all 0.3s ease-out;}
.title{ width: 100%; overflow: hidden; border-radius: 20px 20px 0 0; background: -webkit-gradient(linear,0 0,0 100%,from(#1cbae8),to(#1ab7e7)); padding: 6px 0; box-shadow: 0 1px 4px rgba(0,0,0,0.5);}
.title p{ font-size: 20px; text-align: center; color: #FFF; font-weight: bold;}
.content{ width: 94%; margin: 20px auto; background-color: #e5f6fe; border-radius: 14px; overflow: hidden;}
#map{ border: 2px solid #1795bb; min-height: 500px;}
#map .amap-maps{  border-radius: 10px;}
.amap-e, .amap-layers, .amap-maps, .amap-tile, .amap-tile-container{  border-radius: 10px;}


.tsf-down{ transform: translate(0,200px);-webkit-transform: translate(0,200px);opacity: 0;}
.tsf-reset{ transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}

.infoWindow{ width: 250px; border: 0.03rem solid #275bb0;  background-color: #67d8f2; border-radius: 24px; padding: 8px 8px; position: absolute; top: 0; left: 0;}
.infoWindow>div{ border-radius: 20px; background-color: #fff; overflow: hidden;}
.infoWindow>div i{ float: left; margin: 0.2rem 0.16rem 0.2rem 0.18rem;}
.infoWindow>div span{ width: 2.5rem; color: #0d5d94; font-size: 0.24rem; float: left; margin-top: 0.24rem;}
.infoWindow .icon-arrow{ position: absolute; bottom: -17px; left: 50%; margin-left: -20px;}


.icon-box{ width: 0.98rem; height: 0.94rem; display: inline-block; background: url('../images/icons.png') no-repeat; background-size: 15rem; background-position: -6.8rem -1.8rem;}
.icon-arrow{ width: 40px; height: 25px; background: url('../images/info-arrow.png') no-repeat; background-size:100% 100%;}