@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; font-family:"Microsoft YaHei", "微软雅黑",arial, helvetica, sans-serif; -webkit-box-sizing: border-box;box-sizing: border-box;}
html{height: 100%;}
body{height: 100%; background-color: #000;}
a{ text-decoration:none; border:none;}
li{ list-style:none;}
input{ -webkit-appearance:none; border-radius:0;}
select{ -webkit-appearance:select; border-radius:0;}

canvas{display: block;}

.window{ width: 100%; height: 100%; position: fixed; top:0; left: 0; z-index: 100; background-color: rgba(0,0,0,0.5); overflow: hidden; display: none;}
.frame{ width: 98%; margin: 10px auto; border-radius: 20px; background-color: #67d8f2; overflow: hidden; transition: all 0.3s ease-out;-webkit-transition: all 0.3s ease-out;}
.title{ width: 100%; overflow: hidden; border-radius: 20px 20px 0 0; background: -webkit-gradient(linear,0 0,0 100%,from(#1cbae8),to(#1ab7e7)); padding: 6px 0; box-shadow: 0 1px 4px rgba(0,0,0,0.5);}
.title p{ font-size: 20px; text-align: center; color: #FFF; font-weight: bold;}
.content{ width: 94%; margin: 20px auto; background-color: #e5f6fe; border-radius: 14px; overflow: hidden;}
#map{ border: 2px solid #1795bb;}
#map .amap-maps{  border-radius: 10px;}
.amap-e, .amap-layers, .amap-maps, .amap-tile, .amap-tile-container{  border-radius: 10px;}


.tsf-down{ transform: translate(0,200px);-webkit-transform: translate(0,200px);opacity: 0;}
.tsf-reset{ transform: translate(0,0);-webkit-transform: translate(0,0);opacity: 1;}

.infoWindow{ width: 250px; border: 0.03rem solid #275bb0;  background-color: #67d8f2; border-radius: 24px; padding: 8px 8px; position: absolute; top: 0; left: 0;}
.infoWindow>div{ border-radius: 20px; background-color: #fff; overflow: hidden; padding: 10px 15px; min-height: 80px;}
.infoWindow>div span{ color: #0d5d94; display: block; font-size: 0.24rem;}
.infoWindow>div p{ color: #f4761f; font-size: 0.24rem;}
.infoWindow .icon-arrow{ position: absolute; bottom: -16px; left: 50%; margin-left: -20px;}

.openInfo{ width: 90%;border: 0.03rem solid #275bb0;  background-color: #67d8f2; border-radius: 24px; padding: 12px 12px; position: absolute; bottom: 30px; left: 5%; display: none; z-index: 1000;}
.openInfo>div{ border-radius: 20px; background-color: #fff; overflow: hidden; padding: 10px 15px;}
.openInfo>div span{ width: 5rem; color: #0d5d94; display: block; font-size: 0.24rem;}
.openInfo>div p{width: 5rem;color: #f4761f; font-size: 0.24rem;}
.openInfo>div div{width: 1.8rem; float: right;}
.openInfo>div div img{ width: 100%; display: block;}
.openInfo a{ width: 2.6rem; display: block; margin: 0.2rem auto 0 auto;}


.icon-box{ width: 0.98rem; height: 0.94rem; display: inline-block; background: url('../images/icons.png') no-repeat; background-size: 15rem; background-position: -6.8rem -1.8rem;}
.icon-arrow{ width: 40px; height: 25px; background: url('../images/info-arrow.png') no-repeat; background-size:100% 100%;}
.icon-btn-openbox{ width: 2.6rem; height: 0.84rem; display:block; background: url('../images/icons.png') no-repeat; background-size: 15rem; background-position: -6.8rem -0.9rem;}