/*
    基础设置
*/
.setting-content{ margin: 70px 0 0 200px;}
.base-title{ font-size: 18px; font-weight: bold; color: #000; padding: 12px 50px; background-color: #eeeef0;}
.base-setting-frame{ width: 400px; margin: 35px auto;}

/*
    挖矿账户
*/
.setting-table{ width: 100%; margin: 140px 0 0 0;}
.setting-table .thead{ width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; padding: 0 50px 10px 50px; overflow: hidden; border-bottom: 3px solid #000;}
.setting-table .thead li{ float: left; font-size: 18px; font-weight: bold;}
.setting-table .tbody>li .lines-content,.setting-table .tbody>li .keys-content li{ overflow: hidden; border-bottom: 1px solid #000; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; padding: 5px 50px;}
.setting-table .tbody>li .lines-content>li{ float: left;}
.setting-table .tbody>li .lines-content li span{ margin-top: 10px; display: inline-block;}
.setting-table .tbody>.operalines .lines-content li .btns{ float: right; margin-left: 20px; margin-top: 8px;}
.setting-table .tbody>.operalines .lines-content li .text{ width: 200px;}

.account-table .thead{ padding: 0 50px;}
.account-table .tbody>li .lines-content li .btn{ float: left; margin-right: 20px;}
.account-table .tbody>li .lines-content li .btn:last-child{margin-right: 0;}
.account-table .tbody>li .lines-content li .btn-close{ float: right; margin: 8px 30px 0 0; display: none;}
.account-table .tbody>li .keys-content{ display: none;}
.account-table .tbody>li .keys-content p{ float:left; width: 110px; border-right: 1px solid #000; padding: 15px 0;}
.account-table .tbody>li .keys-content div{ float:left; width: 649px; padding: 15px 20px;}
.account-table .tbody>li  .keys-content li:last-child{ border-bottom: 3px solid #000;}
.account-table .tbody>li  .keys-content li:last-child div{ padding: 5px 20px;}
.account-table .tbody>li .keys-content a{ float:left; }
.account-table .td1{ width: 240px;}
.account-table .td2{ width: 320px;}
.account-table .td3{ width: 340px;}


/*
    付款记录
*/
.coin-type-list{ text-align: right;}
.coin-type-list a{ margin-left: 30px; font-weight: bold; font-size: 16px; color: #000;}
.coin-type-list a i{ vertical-align: sub;}

.record-table{ margin-top: 60px;}
.record-table .td1{ width: 260px;}
.record-table .td2{ width: 260px;}
.record-table .td3{ width: 260px;}
.record-table .td4{ width: 120px;}
.record-table .tbody>li .lines-content{ padding: 15px 50px;}
.record-table .tbody>li:last-child .lines-content{ border-bottom: none;}


/*
    矿工管理
*/
.select-frame{ width: 80px; position: relative;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.select-frame p{ height: 33px; font-size: 14px; border-bottom: 1px solid #000; padding:6px 10px; position: relative;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; cursor: pointer;}
.select-frame p:after{ content: ''; width: 12px; height: 6px; background: url('../images/icons.png') no-repeat; background-position: -245px -100px; position: absolute; top: 14px; right: 8px;}
.select-frame ul{ width: 100%; overflow: hidden; height: 0; position: absolute; top: 100%; left: 0;transition: all 0.1s linear; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.select-frame ul li{ padding: 6px 0; border-bottom: 1px solid #000;}
.select-frame ul li:last-child{ border-bottom: none;}
.select-frame ul li a{ display: block; color: #000; text-align: center; font-size: 14px;}
.select-frame-slide p{  border-radius: 6px 6px 0 0; border: 1px solid #000; background-color: #fff;}
.select-frame-slide ul{ height: auto; border-radius: 0 0 6px 6px; border: 1px solid #000; border-top: none; background-color: #FFF;}

.manager-table{ margin-top: 50px;}
.manager-table .td1{ width: 120px;}
.manager-table .td2{ width: 80px;}
.manager-table .td3{ width: 120px;}
.manager-table .td4{ width: 120px;}
.manager-table .td5{ width: 100px;}
.manager-table .td6{ width: 100px;}
.manager-table .td7{ width: 160px;}
.manager-table .td8{ width: 100px;}
.manager-table .thead li{ margin-top: 24px;}
.manager-table .thead .td3{ margin-top: 0;}
.manager-table .thead .td4{ margin-top: 0;}
.manager-table .tbody>li .lines-content{ padding: 15px 50px;}
.manager-table .tbody>li .lines-content li span{ margin-top: 4px;}
.manager-table .tbody>li .lines-content li.td8 a{ float: left;}
.manager-table .tbody>li .lines-content li.td8 a:last-child{ float: right;}
.manager-table .tbody>li .warn-content li{ float: right;}
.manager-table .tbody .td1 .text{ width: 100px; padding: 5px 10px;}
.manager-table .tbody .td2 .select-frame{ width: 60px;}
.manager-table .tbody .td2 .select-frame p{ padding: 6px; height: 30px;}
.manager-table .tbody>li .lines-content{ overflow: visible;}
.manager-table .tbody>li .lines-content:after{content: ".";display: block; height: 0; clear: both; visibility: hidden;}
.setting-table .tbody>li .lines-content li.tdEditor span{ display: none;}
.manager-table .tbody .tdEditor .text{ display: block;}
.manager-table .tbody .tdEditor .select-frame{ display: block;}

.alert-frame .rules-content{ width: 600px;padding: 50px; margin-left: -350px;}
.rules-content .title{ font-size: 24px; font-weight: bold; margin-bottom: 40px;}
.rules-content li{ margin-bottom: 10px;}


/*
    首页
*/
.bgBanner{ height: calc(100% - 260px);}
.bgBanner{ background-size: cover; position: relative; background-position: center center;}
.bgBanner>div.cover{ width: 100%; height: 100%; background-color: rgba(0,0,0,0.4);}
.bgBanner>a.btn-link{ font-size: 22px; color: #fff; position: absolute; right: 27%; bottom: 28%;}
.bgBanner>a.btn-link i{ vertical-align: middle; margin-left: 10px;}

.model-cover{position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 1000; background: rgba(0,0,0,0.85); background: -webkit-gradient(linear,0 100%,100% 100%,from(rgb(70,70,70)),to(rgba(35,24,21,0.85))); display: none;}

.infos-frame{ width: 460px; position: fixed; top: 0; right: -460px; bottom: 0; background-color: #fff; z-index: 1000;transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;}
.infos-frame .btn-close{ margin: 40px; display: inline-block;transition: all 0.5s ease-in-out;}
.infos-frame .btn-close:hover{transform:rotateZ(360deg);}
.infos-frame h3.title{ font-size: 32px; font-weight: bold; margin-bottom: 40px;}
.infos-frame>div{ display: none;}
.infos-frame-in{ right: 0;}

.phone-line .phone-select{ width: 80px; position: relative;}
.phone-line .phone-select:after{ content: ''; width: 12px; height: 6px; background: url("../images/icons.png") no-repeat; background-position: -245px -100px; position: absolute; top: 15px; right: 10px;}
.phone-line .phone-select .text[readonly]{ background-color: #fff; border-color: #000;}
.phone-line .phone-select select{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; opacity: 0;}
.phone-line>.text{ width: 200px;}

.text-pass{ background: url('../images/icons_pass.png') no-repeat; background-position: 95% center;}
.text-warn{ border-color: rgb(299,0,0); color: rgb(299,0,0);  background: url('../images/icons_warn.png') no-repeat; background-position: 95% center;}
.warn-msg{color: rgb(299,0,0); font-size: 14px; margin-left: 12px;}

.infos-frame .btn-links a{ display: inline-block font-size: 14px; color: rgb(158,158,160); padding-right: 5px; margin-right: 5px; border-right: 1px solid rgb(158,158,160);transition: all 0.1s linear; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear;}
.infos-frame .btn-links a:hover{ font-size: 18px;}
.infos-frame .btn-links a:last-child{ border-right: none;}

