/*
    基础设置
*/
.setting-content{ margin: 0 0 0 200px;}
.base-title{ font-size: 18px; font-weight: bold; color: #000; padding: 12px 50px; background-color: #eeeef0;}
.base-setting-frame{ width: 400px; margin: 35px auto;}

/*
    挖矿账户
*/
.setting-table{ width: 100%; margin: 140px 0 0 0;}
.setting-table .thead{ width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; padding: 0 50px 10px 50px; overflow: hidden; border-bottom: 3px solid #000;}
.setting-table .thead li{ float: left; font-size: 18px; font-weight: bold;}
.setting-table .tbody>li .lines-content,.setting-table .tbody>li .keys-content li{ overflow: hidden; border-bottom: 1px solid #000; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; padding: 5px 50px;}
.setting-table .tbody>li .lines-content>li{ float: left;}
.setting-table .tbody>li .lines-content li span{ margin-top: 10px; display: inline-block;}
.setting-table .tbody>.operalines .lines-content li .btns{ float: right; margin-left: 20px; margin-top: 8px;}
.setting-table .tbody>.operalines .lines-content li .text{ width: 200px;}

.account-table .thead{ padding: 0 50px;}
.account-table .tbody>li.slideDown{border-top: 2px solid #000;}
.account-table .tbody>li:first-child.slideDown{ border-top: none;}
.account-table .tbody>li .lines-content li .btn{ float: left; margin-right: 20px;}
.account-table .tbody>li .lines-content li .btn:last-child{margin-right: 0;}
.account-table .tbody>li .lines-content li .btn-close{ float: right; margin: 8px 30px 0 0; display: none;}
.account-table .tbody>li .keys-content{ display: none;}
.account-table .tbody>li .keys-content p{ float:left; width: 110px; border-right: 1px solid #000; padding: 15px 0;}
.account-table .tbody>li .keys-content div{ float:left; width: 649px; padding: 15px 20px;}
.account-table .tbody>li  .keys-content li:last-child{ border-bottom: 3px solid #000;}
.account-table .tbody>li  .keys-content li:last-child div{ padding: 5px 20px;}
.account-table .tbody>li .keys-content a{ float:left; margin-top: 6px;}
.account-table .td1{ width: 240px;}
.account-table .td2{ width: 320px;}
.account-table .td3{ width: 340px;}


/*
    付款记录
*/
.coin-type-list{ text-align: right;}
.coin-type-list a{ margin-left: 30px; font-weight: bold; font-size: 16px; color: #000;}
.coin-type-list a i{ vertical-align: sub;}

.record-table{ margin-top: 60px;}
.record-table .td1{ width: 260px;}
.record-table .td2{ width: 260px;}
.record-table .td3{ width: 260px;}
.record-table .td4{ width: 120px;}
.record-table .tbody>li .lines-content{ padding: 15px 50px;}
.record-table .tbody>li:last-child .lines-content{ border-bottom: none;}


/*
    矿工管理
*/
.select-frame{ width: 80px; position: relative;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.select-frame p{ height: 33px; font-size: 14px; border-bottom: 1px solid #000; padding:6px 10px; position: relative;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; cursor: pointer;}
.select-frame p:after{ content: ''; width: 12px; height: 6px; background: url('../images/icons.png') no-repeat; background-position: -245px -100px; position: absolute; top: 50%; right: 8px; margin-top: -3px;}
.select-frame ul{ min-width: 100%; overflow: hidden; height: 0; position: absolute; top: 100%; left: 0;transition: all 0.1s linear; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.select-frame ul li{ height: 32px; border-bottom: 1px solid #000; overflow: hidden;}
.select-frame ul li:hover{ background-color: #000;}
.select-frame ul li:hover a{ color: #fff;}
.select-frame ul li:last-child{ border-bottom: none;}
.select-frame ul li a{ display: block; color: #000; text-align: center; font-size: 14px; margin-top: 6px;}
.select-frame-slide p{  border-radius: 6px 6px 0 0; border: 1px solid #000; border-bottom: none; background-color: #fff;}
.select-frame-slide ul{ height: auto; border-radius: 0 0 6px 6px; border: 1px solid #000; background-color: #FFF;}

.manager-table{ margin-top: 50px;}
.manager-table .td1{ width: 120px;}
.manager-table .td2{ width: 80px;}
.manager-table .td3{ width: 120px;}
.manager-table .td4{ width: 120px;}
.manager-table .td5{ width: 100px;}
.manager-table .td6{ width: 100px;}
.manager-table .td7{ width: 160px;}
.manager-table .td8{ width: 100px;}
.manager-table .thead li{ margin-top: 24px;}
.manager-table .thead .td3{ margin-top: 0;}
.manager-table .thead .td4{ margin-top: 0;}
.manager-table .tbody>li .lines-content{ padding: 15px 50px;}
.manager-table .tbody>li .lines-content li span{ margin-top: 4px;}
.manager-table .tbody>li .lines-content li.td8 a{ float: left;}
.manager-table .tbody>li .lines-content li.td8 a:last-child{ float: right;}
.manager-table .tbody>li .warn-content li{ float: right;}
.manager-table .tbody .td1 .text{ width: 100px; padding: 5px 10px;}
.manager-table .tbody .td2 .select-frame{ width: 60px;}
.manager-table .tbody .td2 .select-frame p{ padding: 6px; height: 30px;}
.manager-table .tbody>li .lines-content{ overflow: visible;}
.manager-table .tbody>li .lines-content:after{content: ".";display: block; height: 0; clear: both; visibility: hidden;}
.setting-table .tbody>li .lines-content li.tdEditor span{ display: none;}
.manager-table .tbody .tdEditor .text{ display: block;}
.manager-table .tbody .tdEditor .select-frame{ display: block;}

.alert-frame .rules-content{ width: 600px;padding: 50px; margin-left: -350px;}
.rules-content .title{ font-size: 24px; font-weight: bold; margin-bottom: 40px;}
.rules-content li{ margin-bottom: 10px;}


/*
    首页
*/
.bgBanner{ height: calc(100% - 260px);height: -webkit-calc(100% - 260px);}
.bgBanner{ background-size: cover; position: relative; background-position: center center;}
.bgBanner>div.cover{ width: 100%; height: 100%; background-color: rgba(0,0,0,0.4);}
.bgBanner>a.btn-link{ font-size: 22px; color: #fff; position: absolute; right: 27%; bottom: 28%;}
.bgBanner>a.btn-link i{ vertical-align: middle; margin-left: 10px;}

.model-cover{position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 1000; background: rgba(0,0,0,0.85); background: -webkit-gradient(linear,0 100%,100% 100%,from(rgba(70,70,70,0.7)),to(rgba(35,24,21,0.7))); display: none;}

.infos-frame{ width: 460px; position: fixed; top: 0; right: -460px; bottom: 0; background-color: #fff; z-index: 1000;transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;}
.infos-frame .btn-close{ margin: 40px; display: inline-block;transition: all 0.5s ease-in-out;}
.infos-frame .btn-close:hover{transform:rotateZ(360deg);}
.infos-frame h3.title{ font-size: 32px; font-weight: bold; margin-bottom: 40px;}
.infos-frame>div{ display: none;}
.infos-frame-in{ right: 0;}

.phone-line .select-frame{ width: 80px; position: relative;}
.phone-line .select-frame p{ height: auto; border: 1px solid #000;border-radius: 6px; padding: 10px;}
.phone-line .select-frame-slide p{border-radius: 6px 6px 0 0; border-bottom: none; }
.phone-line>.text{ width: 200px;}

.text-pass{ background: url('../images/icons_pass.png') no-repeat; background-position: 95% center;}
.text-warn{ border-color: rgb(299,0,0); color: rgb(299,0,0);  background: url('../images/icons_warn.png') no-repeat; background-position: 95% center;}
.warn-msg{color: rgb(299,0,0); font-size: 14px; margin-left: 12px;}

.infos-frame .btn-links a{ display: inline-block font-size: 14px; color: rgb(158,158,160); padding-right: 5px; margin-right: 5px; border-right: 1px solid rgb(158,158,160);transition: all 0.1s linear; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear;}
.infos-frame .btn-links a:hover{ font-weight: bold; color: #000;}
.infos-frame .btn-links a:last-child{ border-right: none;}

.infos-frame .logout{ position: absolute; bottom: 50px; left: 190px;}
.infos-frame .logout>a{ width: 80px; height: 80px; display: block; border-radius: 50%; overflow: hidden;}
.infos-frame .logout>a:hover{box-shadow: -5px 5px 10px rgba(0,0,0,0.3);}
.logout .logout-sign{ width: 260px; border-radius: 40px; box-shadow: 0 0 10px rgba(0,0,0,0.1); position: absolute; top: -80px; left: -90px; padding: 10px 0; display: none;}
.logout .logout-sign:after{ content: ''; width: 12px; height: 6px; background: url('../images/icons.png') no-repeat; background-position: -564px -71px; position: absolute; bottom: -6px; left: 124px;}
.logout .logout-sign p{ font-size: 14px; font-weight: bold; text-align: center; margin-bottom: 10px;}
.logout .logout-sign div a{ margin: 0 6px;}


/*
    矿池
*/
.chart-frame{ width: 100%; height: 500px; background: #2c2626;background: -webkit-gradient(linear,100% 0,0 100%,from(rgba(50,50,50,0.85)),to(rgba(0,0,0,0.85))); overflow: hidden;}
.pool-list{ margin-top: 30px; overflow: hidden; float: left;}
.pool-list li{ width: 80px; border: 1px solid #fff; float: left;}
.pool-list li a{ display: block; color: #fff; text-align: center; font-size: 14px; padding: 2px 0;}
.pool-list li.active a,.pool-list li a:hover{ background-color: #FFF; color: #000;}
.chart-frame .coin-type-list{ margin-top: 30px;}
.chart-frame .coin-type-list .icons-btc-active,.chart-frame .coin-type-list .icons-btc:hover{ background-position: -232px -280px;}
.chart-frame .coin-type-list .icons-ltc-active,.chart-frame .coin-type-list .icons-ltc:hover{ background-position: -296px -283px;}
.chart-frame .coin-type-list .icons-eth-active,.chart-frame .coin-type-list .icons-eth:hover{ background-position: -362px -281px;}

#chartFrame{ height: 360px; margin-top: 50px;}

.table-data{ border-radius: 6px; overflow: hidden; box-shadow: 0 0 10px rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.table-data .table-title{ overflow: hidden; border-bottom: 2px solid #ededed; background-color: #FFF;}
.table-data .table-title h3{ font-size: 24px; float: left; margin-left: 20px; padding: 6px 0; font-weight: bold;}
.table-data .table-title a{ float: right; font-size: 14px; color: #000; margin-right: 20px; margin-top: 10px;}
.table-data table{ width: 100%; border-bottom: 2px solid #ededed;}
.table-data table th{ font-size: 16px; font-weight: bold; padding: 10px 18px; background-color: #f7f7f7; text-align: left;}
.table-data table td{ color: rgb(113,112,113); padding: 10px 18px; background-color: #FFF;}
.table-data table tbody tr:nth-child(2n) td{ background-color: #f7f7f7;}
.table-data .infos{ overflow: hidden;}
.table-data .infos li{ width: 25%; float: left; padding: 16px 0; border-right: 1px solid #e5e5e5; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.table-data .infos li p{ font-size: 12px; color: rgb(113,112,113); margin-bottom: 5px; margin-left: 10px;}
.table-data .infos li div{ font-size: 12px; color: #000; margin-left: 10px; font-weight: bold;}

.account-table-info table th{ text-align: center; border-right:2px solid #e5e5e5;}
.account-table-info table td{text-align: center; border-right:2px solid #e5e5e5;}
.account-table-info table td:last-child,.account-table-info table th:last-child{ border-right: none;}


/*
    我的矿池
*/
.mypool-frame1{ width: 360px; overflow: hidden; border-radius: 6px; box-shadow: 0 0 10px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);}
.mypool-frame1 h3{ text-align: center; font-size: 18px; font-weight: bold; padding: 12px 0; border-bottom: 2px solid #eaeaea;}
.mypool-frame1 h3{ text-align: center; font-size: 18px; font-weight: bold; padding: 12px 0;}
.mypool-frame1 ul{ overflow: hidden; background-color: #f7f7f7;}
.mypool-frame1 ul li{ width: 50%; float: left}
.mypool-frame1 ul li p{ font-size: 14px; color: #717171; text-align: center; margin: 30px 10px;}
.mypool-frame1 ul li div{ font-size: 14px; color: #717171; text-align: center; margin: 30px 10px;}
.mypool-frame1 ul li div span{ font-size: 18px; color: #000; font-weight: bold;}

.mypool-frame2{ width: 240px; margin: 0 20px; overflow: hidden; border-radius: 6px; box-shadow: 0 0 10px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);}
.mypool-frame2 div p{text-align: center; font-size: 18px; font-weight: bold; padding: 12px 0;}
.mypool-frame2 div div{text-align: center; font-size: 18px; font-weight: bold; margin-top: 6px;}
.mypool-frame2 ul{overflow: hidden;}
.mypool-frame2 ul li{ width: 50%; float: left}
.mypool-frame2 ul li p{ font-size: 14px; color: #717171; text-align: center; margin:15px 10px;}
.mypool-frame2 ul li div{ font-size: 18px; font-weight: bold; text-align: center; margin:0 10px 32px 10px;}

.mypool-frame3{ width: 490px; overflow: hidden; border-radius: 6px; box-shadow: 0 0 10px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);}
.mypool-frame3>div{ padding: 8px 15px;border-bottom: 2px solid #eaeaea;}
.mypool-frame3>div h3{font-size: 18px; font-weight: bold; float: left;}
.mypool-frame3>div a{color: #000; font-size: 14px; font-weight: bold; float: right;}
.mypool-frame3 ul{ background-color: #f7f7f7;}
.mypool-frame3 ul li{ overflow: hidden; padding: 10px 15px;}
.mypool-frame3 ul li p{ color: #717171; float: left; font-size: 14px;}
.mypool-frame3 ul li p a{ color: #000; font-weight: bold; font-size: 14px; margin-left: 10px;}
.mypool-frame3 ul li div{ color: #717171; float: right; font-size: 14px;}
.mypool-frame3 ul li.bg{ background-color: #FFF;}
.mypool-frame3 ul li.border{ border-top: 2px solid #eaeaea;}

.pool-date{ float: left; margin-left: 45px; margin-top: 30px;}
.pool-date li{ float: left;  margin-right: 20px; font-size: 18px; color: #9e9e9f;}
.pool-date li.active{  color: #fff;}
.pool-date li input[type=radio]{ -webkit-appearance: none; display: inline-block; width: 21px; height: 21px;  background: url('../images/icons.png') no-repeat; background-position: -760px -245px; vertical-align: sub;}
.pool-date li input[type=radio]:checked{ background-position: -787px -245px;}


/*
    帮助
*/
.step-frame{ margin: 80px 0 70px;}
.step-frame .list{ width: 742px; overflow: hidden; margin: 0 auto;}
.step-frame .list li{ float: left; margin:0 12px;}
.step-frame .list li.number{ width: 82px; height: 102px;}
.step-frame .list li.dots{ margin-top: 48px;}
.step-frame .list li p{ height: 50px; font-size: 36px; color: rgb(158,158,159);  font-weight: bold; text-align: center;}
.step-frame .list li div{ color: rgb(158,158,159);  font-weight: bold; text-align: center;}
.step-frame .list li.active{ background: url('../images/icons_circle.png') no-repeat; background-position: 0 bottom;}
.step-frame .list li.active p,.step-frame .list li.active div{ color: rgb(255,206,15);}
.step-frame .list li:hover p,.step-frame .list li:hover div{ color: rgb(255,206,15);}

.step-frame .second-list{ width: 100%; text-align: center; margin-top: 40px;}
.step-frame .second-list li{ display: inline-block; margin: 0 40px;}
.step-frame .second-list li a{ font-size: 18px; color: rgb(158,158,159);}
.step-frame .second-list li a i{ width: 22px; height: 22px; background-position: -760px -245px; vertical-align: middle; margin-right: 5px;}
.step-frame .second-list li.active a,.step-frame .second-list li:hover a{ color: #fff;}
.step-frame .second-list li.active a i,.step-frame .second-list li:hover a i{  background-position: -787px -245px;}

.help-rule{ margin-top: 40px;}
.help-rule p{ font-size: 12px; color: #fff; margin-bottom: 5px;}

.second-nav{ width: 100%; position: absolute; top: 70px; left: 0; background-color: rgb(238,238,238); z-index: 500;}
.second-nav ul{ overflow: hidden; padding: 12px 0;}
.second-nav ul li{ float: left; margin-right: 16px;}
.second-nav ul li a{ font-size: 14px; color: #000;}
.second-nav ul li i{ vertical-align: middle;}



/*
    收益计算机
*/
.table-input-frame{ background-color: #f7f7f7; overflow: hidden;}
.table-input-frame>.clearfix{ width: 630px; margin-left: auto; margin-right: auto;}
.table-input-frame .table-input input{ width: 188px; border: 1px solid #000; border-radius: 6px 0 0 6px; float: left; font-size: 16px; padding: 10px; border-right: none; background-color: #fff;}
.table-input-frame .table-input input::-webkit-input-placeholder{ color: #000;}
.table-input-frame .table-input input:-moz-placeholder{ color: #000;}
.table-input-frame .table-input input:-ms-input-placeholder{ color: #000;}
.table-input-frame .table-input .unit{ width: 58px; border: 1px solid #000; border-radius: 0 6px 6px 0; float: left; font-size: 16px; padding: 10px; text-align: center;}
.table-input-frame .table-input .select-frame{ width: 78px; float: left;}
.table-input-frame .table-input .select-frame p{ font-size: 16px; height: auto; padding: 10px;  border: 1px solid #000; border-radius: 0 6px 6px 0;}
.table-input-frame .table-input .select-frame-slide p{  border-radius: 0 6px 0 0; border-bottom: none;}
.table-input-frame>.btns{ width: 400px; margin-left: auto; margin-right: auto; margin-bottom: 30px;}
.table-input-frame>.hint{  padding: 10px; font-size: 12px; color: #9a9a9a; line-height: 200%;}

.table-data .computer-table td:first-child{ width: 80px; font-weight: bold;color: #000; font-size: 14px;}
.table-data .computer-table td{ width: 670px; color: #6f6f6f;}
.table-data .computer-table td span{ color: #000; font-weight: bold; font-size: 18px;}










