@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'huakang';
    src:url('../css/HelveticaNeue.ttc')  format('truetype'); /* Safari, Android, iOS */
}
.huakang{ font-family: 'huakang';}

body{ background-color: #f4f3f1;}

.section{ margin: 0 3%;}
.section li{ border-bottom: 1px solid #8c8b89; overflow: hidden; padding: 9% 0;}
.section li>p{ width: 32.5%; float: left; border-right: 1px solid #8c8b89;}
.section li>div{ width: 67.5%; float: left; position: relative;}
.section li>div .date{ color: #595758; font-size: 0.8rem; font-family: "huakang"; font-weight: bold;  margin: 7% 0 0 6%;}
.section li>div .time1{ color: #595758; font-size: 2rem; font-family: "huakang"; font-weight: bold;  margin: -5% 0 0 6%;}
.section li>div .time1 span{ font-size: 0.6rem; margin-left: 3%;}
.section li>div .time2{  color: #595758; font-size: 0.4rem; font-family: "huakang"; font-weight: bold; }
.section li>div .addr{ color: #595758; font-size: 0.3rem; font-family: "huakang"; font-weight: bold;  margin: 7% 6% 0 6%; }
.section li>div a{ float: right; background-color: #100b07; padding: 0.1rem 0.3rem; border-radius: 5px; color: #fff; font-size: 0.3rem; margin-top: 6%; margin-right: 6%; transition:all 0.5s cubic-bezier(.1,.41,.24,1); -webkit-transition:all 0.5s cubic-bezier(.1,.41,.24,1); transform: scale(0,0); -webkit-transform: scale(0,0);}
.section li>div a.reset{ transform: scale(1,1); -webkit-transform: scale(1,1);}
.section li.contents>p{ border-right: none;}
.section li.contents>div{ border-left: 1px solid #8c8b89;}
.section li.contents>div p:first-child{ border-bottom: 1px solid #8c8b89;}
.section li.contents>div p{ transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; transform: translate(800px,0); -webkit-transform: translate(800px,0); opacity: 0;}
.section li.contents>div p.reset{transform: translate(0,0); -webkit-transform: translate(0,0); opacity: 1;}